<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="w-100 sans-serif cf ph3 ph5-ns pb5 bg-yellow black-70">
    <div id="app">
        <h1 class="f-headline-ns f1 lh-solid mb2">Headless News</h1>
        <router-view></router-view>
    </div>
    <script>
        const API_ROOT = 'http://localhost:8000/api/v2/pages/';
        const NewsListing = {
            template:`
            <div>
                <div v-for="item in news">
                    <router-link class="black dim" :to="/news/+ item.id">
                        <h2>{{ item.title }}</h2>
                    </router-link>
                    <p>{{ item.intro }}</p>
                </div>
            </div>
            `,
        data: function () {
            return { news: [] }
        },
        mounted () {
            axios
            .get(API_ROOT + '?type=news.NewsPage&fields=intro,body')
            .then(response => (this.news = response.data.items))
        },
    }

    const NewsItem = {
        template: `
        <div>
            <router-link class="black dim" to="/">Home</router-link>
            <h1>{{ item.title }}</h1>
            <p v-html="item.body"></p>
            <img v-if="item.image_thumbnail"
            :src="'http://localhost:8000' + item.image_thumbnail.url"
            :width="item.image_thumbnail.width"
            :height="item.image_thumbnail.height"
            >
        </div>
        `,
        data: function () {
            return { item: {} }
        },
        methods: {
            getNews() {
                axios
                .get(API_ROOT + this.$route.params.id + '/')
                .then((response) => (this.item = response.data))
            }
        },
        mounted () {
            this.getNews();
        }
    }
    const routes = [
        { path: '/', component: NewsListing },
        { path: '/news/:id', component: NewsItem }
    ]
    const router = new VueRouter({
        routes
    })
    const app = new Vue({
        router
    }).$mount('#app')
    </script>
</body>
</html>