<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="app">
        <h2>{{ item.title }}</h2>
        <h2>{{ item.intro }}</h2>
        <span v-for="block in item.body">
            <div v-if="block.type == 'heading'">
                <h2>{{ block.value }}</h2>
            </div>
            <div v-else-if="block.type == 'image'">
                <h2>image: {{ block.value }}</h2>
            </div>
            <div v-else-if="block.type == 'paragraph'">
                <p v-html="block.value"></p>
            </div>
        </span>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data () {
                return {
                    item: {}
                }
            },
            mounted () {
                axios
                .get("http://127.0.0.1:8000/api/v2/pages/5/")
                .then(response => (this.item = response.data))
            }
        })
    </script>
</body>
</html>